body{
    background: url(https://images.unsplash.com/photo-1552359129-456ccf2ffd52?w=500&auto=format&fit=crop&q=60&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTd8fHxlbnwwfHx8fHw%3D);
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
.weather-box{
    border: 3px solid white;
    padding:  50px;
    border-radius:  30px;
    background-color: azure;
    margin-bottom: 20px;
}
.weather-buttons {
    display: flex;
    gap: 10px;
}

.weather-button {
    font-weight: bold !important;
}